.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
}

.navbar button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.navbar button.active {
  background-color: orange;
}
