

/* Chat container */
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
  
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Input container at the bottom */
.input-container {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

/* Chat history scroll styling */
.chat-history {
  display: flex;
  flex-direction: column;
}

.screen::-webkit-scrollbar {
  width: 8px;
}

.screen::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
